.wrapper-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
	display: block;
	border: 1px dashed black;
	height: 110px;
	width: 110px;
	margin: 3px;
}

.active {
	background-color: #DADADA;
}

.green {
	border: 3px dashed #458A00;
}